@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Heebo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

nav ul a,
nav .brand-logo {
    font-family: "Merriweather", sans-serif;
    color: #000000;
}

nav .brand-logo {
    padding-left: 10px;
}

nav .fas {
    color: #000000;
}

nav ul a {
    font-size: 18px;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} 

.carousel {
    height: 90vh !important;
}

.center-header{
    margin: 0;
    padding: 0;
    text-align: center;
}

div.registration-bg-image {
    background-image: url(../img/registration-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
}

.registration-form {
    position: relative;
    margin: 20px;
    padding: 16px;
opacity: 1;
}

/*-------------------------- footer */
.page-footer{
    position: relative;
    padding-bottom: 10px;
}

.page-footer h5 {
    font-family: "Merriweather", sans-serif;
}

.quicklinks a {
    font-family: "Heebo", sans-serif;
}

.quicklinks a, 
.fab{
    color: #000000;
}

.quicklinks a:hover, 
.fab:hover{
}

.social-media {
    font-size: 30px;
}

.copyright {
    padding: 60px 30px 0px 0px;
}

@media only screen and (max-width: 1024px) {
    .quicklinks li {
        font-size:13px;
    }

    .social-media {
    font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 426px) {
    nav .brand-logo {
        font-size: 25px;
    }

    .footer-title {
        font-size: 20px;
    }

    .shortcuts {
        display: none;
    }
}

@media only screen and (max-width: 376px) {
    nav .brand-logo {
        padding: 0;
        font-size: 20px;
    }

    .footer-title,
    .copyright {
        font-size: 15px;
    }
}
