@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Heebo:100,200,300,400,500,600,700');

/*////////////////////////////// Base File*/

/* Navigation bar */
nav {
    background: #fefefa;
}

nav ul a,
nav .brand-logo {
    font-family: "Merriweather", sans-serif;
    color: #000000;
}

nav .brand-logo {
    padding-left: 10px;
}

nav .fas {
    color: #000000;
}

nav ul a {
    font-size: 18px;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} 

/* Header for all pages*/
.center-header{
    font-family: "Merriweather", sans-serif;    
    text-align: center;
    text-decoration: underline;
    position: relative;
}

.row {
    margin-bottom: 0px;
}

/*////////////////////////////// Home Page*/

/* carousel for the home page */
.carousel {
    border-radius: 0px 0px 40px 40px;
    height: 90vh !important;
}

/* Description from the home page */
.hp-recipe {
    border-radius: 25px;
}

.description {
    font-family: "Heebo", sans-serif;
    text-align: center;
    font-size: 16px;
}

hr {
    margin: 60px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Cards for the home page */

.card-title {
    font-family: "Merriweather", sans-serif;    
    text-align: center;
}

.shared-recipes {
    position: relative;
}

.row .col.s4 {
    width: 31%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.recipe-card {
    margin: 40px 20px 50px 20px;
}

.card {
    height: 360px;
}

td, th {
    padding: 3px 5px;
}

table {
    font-family: "Heebo", sans-serif;;
}

.table_header {
    font-weight: 700;
}

/*////////////////////////////// Login/Registration Page */
.login-bg-image,
.profile-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 95vh;
    opacity: 0.5;
}

.registration-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 135vh;
    opacity: 0.5;
}

.registration-form, 
.login-form,
.password-form {
    margin: 20px;
    padding: 16px 16px 80px;
}

.username-form {
    margin: 20px;
    padding: 16px 16px 130px;
}

.inside-form {
    position: relative;
    border-radius: 25px;
}

.input-field {
    margin: 7px 0;
}

.card-panel .row {
    margin: 0;
    border-radius: 2.5em;
}

.enter {
    margin: 30px 0;
}

.profile-pass {
    margin-bottom: 250px;
}

.btn-small {
    margin: 10px 10px 5px 10px;
    text-align: center;
}

/*////////////////////////////// Footer */
footer {
    height: 50px;
    margin-top: -50px;
    position: relative;
}

.page-footer {
    width: 100%;
    background-color: #fefefa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px grey;
    left: 0;
    bottom: 0;
    text-align: center;
}

.page-footer h5 {
    font-family: "Merriweather", sans-serif;
}

.quicklinks a, 
.fab{
    color: #000000;
}

.social-media {
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .quicklinks li {
        font-size:13px;
    }

    .social-media {
    font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 426px) {
    nav .brand-logo {
        font-size: 25px;
    }

    .footer-title {
        font-size: 20px;
    }

    .shortcuts {
        display: none;
    }
}

@media only screen and (max-width: 376px) {
    nav .brand-logo {
        padding: 0;
        font-size: 20px;
    }

    .footer-title,
    .copyright {
        font-size: 15px;
    }
}
