{% extends "base.html" %}
{% block structure %}
    
    <!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->  
    <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image">

    <h3 class="center-header">Add Meal Type</h3>

    {% block content %}
    <div class="row add-recipe-card card-panel">
        <!-- using the POST Method and calling on the functin 'add_meal'-->
        <form class="col s12" method="POST" action="{{ url_for('add_meal') }}">
            <!--Placeholder recipe name (mandatory field)-->
            <div class="row">
                <div class="input-field col m10 offset-m1 s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <!-- input requirement of min length of 3 characters and max length of 25-->
                    <input id="meal_name" name="meal_name" minlength="3" maxlength="25" 
                        type="text" class="validate" required>
                    <label for="meal_name">Meal Name*</label>
                </div>
            </div> 

            <section>
                <!-- Flash message to delivery the said message from the app.py file -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="row flashes">
                                <h4 class="red lighten-4 center-align" id="snackbar">{{ message }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </section>

            <div class="row button-set"> 
                <!-- To create the back button, i used the following website to assist https://www.computerhope.com/issues/ch000317.htm -->
                <button class="col l4 m4 s12 btn-large grey accent-1 black-text text-shadow" 
                value="Go back!" onclick="history.back()">
                    <i class="fas fa-arrow-circle-left"></i> Go Back
                </button>
                <!-- Clear the form button -->
                <button type="reset" class="col l4 m4 s12 middle-button btn-large red accent-1 black-text text-shadow">
                    Clear <i class="fas fa-times-circle"></i>
                </button>
                <!-- Submit the form button -->
                <button type="submit" class="col l4 m4 s12 center-align btn-large orange accent-1 black-text text-shadow">
                    Add Meal Type <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            </form>               
        </form>
    </div>
    {% endblock %}

{% endblock %}