<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Fontawesome, CDN taken from cdnjs.com-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- CDN for hover effects -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" 
        integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" type="text/css"/>
    <!-- Custom script-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    {% block styles %}
    {% endblock %}
    
    <title>Home Cooking Manager</title>
    <!-- This is for the favicon icon in the header -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/utensils-solid.svg') }}" type="image/jpg" />
</head>

<body>
    <header>
        <!-- The drop down option which would be used when the user have logged in and wants to visit their profile page-->
        <ul id="myprofile-dropdown" class="dropdown-content">
            <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{ url_for('edit_username', username=session['user']) }}">Edit Username</a></li>
            <li><a href="{{ url_for('edit_password', username=session['user']) }}">Edit Password</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        <nav class="navbar-fixed nav-extended text-shadow">
            <!-- Main navigation navbar with the profile link connected to the session -->
            <div class="nav-wrapper">
            <a href="{{ url_for('get_recipes') }}" class="brand-logo">Home Cooking</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
            <!-- If the user is logged in, display the following links -->
            {% if session.user %}
                <li><a href="{{ url_for('get_my_recipes') }}">My Recipes</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></li>
                <li><a href="#">New Category</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" a href="{{ url_for('profile', username=session['user']) }}" data-target="myprofile-dropdown">My Profile<i class="fas fa-caret-down right"></i></a></li>
                <li><a class="modal-trigger" href="#contact-us-modal">Contact Us</a></li>                
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('registration') }}">Register</a></li>
                <!-- The modal trigger used for the contact us-->
                <li><a class="modal-trigger" href="#contact-us-modal">Contact Us</a></li>
            {% endif %}
            </ul>
            </div>
        </nav>

         <!-- The drop down option which would be used when the user have logged in and wants to visit their profile page-->
        <ul id="myprofile-dropdown2" class="dropdown-content">
            <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{ url_for('edit_username', username=session['user']) }}">Edit Username</a></li>
            <li><a href="{{ url_for('edit_password', username=session['user']) }}">Edit Password</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        <!-- Mobile navigation sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="centre-align orange accent-1 black-text text-darken-4">Home Cooking</h4></li>
                <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                <!-- If the user is logged in, display the following links -->
                {% if session.user %}
                    <li><a href="{{ url_for('get_my_recipes') }}">My Recipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></li>
                    <li><a href="#">New Category</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" a href="{{ url_for('profile', username=session['user']) }}" data-target="myprofile-dropdown2">My Profile<i class="fas fa-caret-down right"></i></a></li>
                    <li><a class="modal-trigger" href="#contact-us-modal">Contact Us</a></li>                
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('registration') }}">Register</a></li>
                    <!-- The modal trigger used for the contact us-->
                    <li><a class="modal-trigger" href="#contact-us-modal">Contact Us</a></li>
                {% endif %}
        </ul>
    </header>
    
    <!--two block stuctures to be in and out of the aligned div-->
    {% block structure %}
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}

    <!-- Contact Modal Structure -->
    <div id="contact-us-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    
    <!-- Footer with social links and Copyright label-->
    <footer class="page-footer black-text">
        <div class="row">
            <div class="social-media col s12 center">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-youtube"></i>                                
            </div> 
            <div class="copyright col s12 center">
                <p>© 2021 Adnan Muhtadi</p>
            </div>
        </div>
    </footer>

    <!-- jquery from code.jquery.com -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>