{% extends "base.html" %}
{% block structure %}
    
    <!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->
    <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="profile-bg-image">

    {% block content %}
    <div class="row password-form">
        <form class="col s12 m5 offset-m7" method="POST" action="{{ url_for('edit_password', username=session['user']) }}">
            <div class="card-panel inside-form">
                <h3 class="center-header">Update Password</h3>
                <!-- current password placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="current_password" name="current_password" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{ password }}" class="validate" required>
						<label for="current_password">Enter Current Password!</label>
					</div>
                </div>
                <!-- Enter new password placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="new_password" name="new_password" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="new_password">Enter New Password!</label>
					</div>
                </div>
                <!-- Enter New password confirmation placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="confirm_new_password" name="confirm_new_password" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="confirm_new_password">Enter New Password Again!</label>
					</div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow enter">
                        Update Password<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}

{% endblock %}