{% extends "base.html" %}
{% block content %}
    
<div class="row">
        <form class="col s12 m5 offset-m7" method="POST" action="{{ url_for('edit_username', username=session['user']) }}">
            <div class="card-panel login-form">
                <h3 class="center-header">Edit Username</h3>
                <!-- Username placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{ username }}" class="validate" disabled>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Enter New Username placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
						<input id="new_username" name="new_username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="new_username">Enter New Username!</label>
					</div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow enter">
                        Update Username<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}