{% extends "base.html" %}
{% block structure %}
    
    <!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->
    <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image">

    {% block content %}
    <div class="row password-form">
        <!-- POSTING method with an action to use the edit_password function and using the session 'user'-->
        <form class="col s12 m5 offset-m7" method="POST" action="{{ url_for('edit_password', username=session['user']) }}">
            <div class="card-panel inside-form">
                <h3 class="center-header">Update Password</h3>
                <!-- current password placeholder with validation of min nd max length and special characters-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
						<input id="current_password" name="current_password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" value="{{ password }}" class="validate" required>
						<label for="current_password">Enter Current Password!</label>
					</div>
                </div>
                <!-- Enter new password placeholder with validation and min max length-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
						<input id="new_password" name="new_password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="new_password">Enter New Password!</label>
					</div>
                </div>
                <!-- Enter New password confirmation placeholder with validation of min and max length-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
						<input id="confirm_new_password" name="confirm_new_password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="confirm_new_password">Enter New Password Again!</label>
					</div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large orange accent-1 black-text text-shadow enter">
                        Update Password<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}

{% endblock %}