{% extends "base.html" %}
{% block structure %}
    
    <!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->  
    <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image" alt="background-image">

    {% block content %}
    <div class="row username-form">
        <!-- POSTING method with an action to use the edit_username function and using the session 'user'-->
        <form class="col s12 m5 offset-m7" method="POST" action="{{ url_for('edit_username', username=session.user) }}">
            <div class="card-panel inside-form">
                <h3 class="center-header">Update Username</h3>
                <!--Current Username placeholder which is disabled so it can not be edited.-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
						<input id="username" name="username" type="text" value="{{ username }}" class="validate" disabled>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Enter New Username placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
                        <!-- Field requirements is for it to be min of 5 and a max of 25 characters and any character is permited 
                        as well as it is a mandatory field-->
						<input id="new_username" name="new_username" type="text" minlength="5" maxlength="25"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate longtext" required>
						<label for="new_username">Confirm New Username!*</label>
                        <span class="helper-text" data-error="Min of 5 to 25 charaters required"></span>
					</div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large orange accent-1 black-text enter">
                        Update Username<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}

{% endblock %}