{% extends "base.html" %}
{% block content %}

    <!-- Carousel which would go through 3 images -->
    <div class="carousel carousel-slider" data-indicators ="true">
        <a href="#one!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img1.jpeg') }}"></a>
        <a href="#two!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img2.jpeg') }}"></a>
        <a href="#three!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img3.jpeg') }}"></a>
    </div>

    <!-- Main content for the section -->
    <h3 class="center-header">Home Recipes</h3>
    <div class="row">
        <img src="{{ url_for('static', filename='img/hp-recipe.jpeg') }}" class="hp-recipe col s4">
        <p class="description col s8"><strong>Are you about to leave home to either be independent or go to university?</br>
            Have you ever had a time when you had to store a specific recipe?</br>
            Have you ever lost a recipe that you wrote down and you can't find it?</strong></br></br>   
            As there is nothing like home-cooked, mums style cooking, Your problems have been answered.
            A place for you to add your recipes, A place for you to share them with the rest of the world. 
        A place for you to even search depending on what specific ingredient you want to use.</p>
    </div>

    <hr>

    <h4 class="center-header">Shared Recipes</h4>

    <!-- Place holder for the search button -->

<!-- The cards that are displayed fo the recipes which have been shared and 
is being called from the database -->
<div class="row">
    {% for recipe in recipes %}
    <div class="recipe-card card col s3">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ url_for('static', filename='img/hp-recipe.jpeg') }}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong><i class="fas fa-chevron-up right"></i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong><i class="fas fa-chevron-down right"></i></span>
            <p>Cooking Time: {{ recipe.cooking_time }}min</p>
        </div>
    </div>
    {% endfor %}
</div>
    <!-- The variable that is created to display content from the DB "recipe" -->

{% endblock %}