{% extends "base.html" %}
{% block structure %}

<!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->
<img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image">

    {% block content %}
    <!-- Beginning of the login form-->
    <div class="row login-form">
        <form class="col s12 m5 offset-m7" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel inside-form">
                <h3 class="center-header">Log In</h3>

                <section>
                    <!--Flash message within under the title to inform the user what is the issue -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div id="row flashes">
                                    <h5 class="light-blue lighten-4 center-align">{{ message }}</h5>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </section>

                <!-- Username input field-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Passowrd input field -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix text-darken-4"></i>
                        <input id="password" name="password" type="password" inlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Login button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large orange accent-1 black-text text-shadow enter">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <!-- if the does not have an account, they can go and register here -->
                <div class="row">
                    <div class="col s12">
                        <p class="center-align">
                            New Here?
                            <a href="{{ url_for('registration') }}" class="light-blue-text text-darken-4">Register Account</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
    
{% endblock %}