{% extends "base.html" %}
{% block structure %}

<!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->
<img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image">

    {% block content %}
    <!-- Beginning of the registration form-->
    <div class="row registration-form">
        <form class="col s12 m7 offset-m5 l7 offset-l5" method="POST" action="{{ url_for('registration') }}">
            <div class="card-panel inside-form">
                <div class="center-header">Register</div>
                
                <section>
                    <!--Flash message within under the title to inform the user what is the issue -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div id="row flashes">
                                    <h4 class="light-blue lighten-4 center-align" id="snackbar">{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </section>

                <!-- First Name placeholder -->
                <div class="row input-entry">
					<div class="input-field col s12">
						<i class="fas fa-user prefix text-darken-4"></i>
						<input id="fname" name="fname" type="text" class="validate">
						<label for="fname">First Name</label>
					</div>
                </div>
                <!-- Surname placeholder -->
                <div class="row input-entry">
					<div class="input-field col s12">
						<i class="fas fa-user prefix text-darken-4"></i>
						<input id="sname" name="sname" type="text" class="validate">
						<label for="sname">Surname Name</label>
					</div>
                </div>
                <!-- Email placeholder -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-at prefix text-darken-4"></i>
						<input id="email" name="email" type="text" class="validate">
						<label for="email">Email Address</label>
					</div>
                </div>
                <!-- Username placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Passowrd placeholder -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix text-darken-4"></i>
                        <input id="password" name="password" type="password" inlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Confirm passowrd placeholder -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix text-darken-4"></i>
                        <input id="confirm" name="confirm" type="password" inlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="confirm">Confirm Password</label>
                    </div>
                </div>
                <!-- register button placeholder-->
                <div class="row button-set">
                    <!-- if the user already has an account can alternatively log in -->
                    <button type="reset" class="col s5 m5 btn-large red accent-1 black-text text-shadow enter">
                        Clear <i class="fas fa-times-circle"></i>
                    </button>
                    <button type="submit" class="col s5 m5 btn-large orange accent-1 black-text text-shadow enter reg">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                    <div class="acounts">
                        <div class="col s12">
                            <p class="center-align">If you already have an account, 
                                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
{% endblock %}