{% extends "base.html" %}
{% block content %}

<div class="registration-bg-image" ></div>

    <h3 class="center-header">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2 registration-form" method="POST" action="{{ url_for('registration') }}">
            <div class="card-panel">
                <!-- First Name placeholder -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="fname" name="fname" type="text" class="validate">
						<label for="fname">First Name</label>
					</div>
                </div>
                <!-- Surname placeholder -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="sname" name="sname" type="text" class="validate">
						<label for="sname">Surname Name</label>
					</div>
                </div>
                <!-- Email placeholder -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="email" name="email" type="text" class="validate">
						<label for="email">Email Address</label>
					</div>
                </div>
                <!-- Username placeholder-->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="username" name="username" type="text" class="validate">
						<label for="username">Username</label>
					</div>
                </div>
                <!-- Passowrd placeholder -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Confirm passowrd placeholder -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="cpassword" name="cpassword" type="password" class="validate">
                        <label for="cpassword">Confirm Password</label>
                    </div>
                </div>
                <!-- register button placeholder-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}