{% extends "base.html" %}
{% block structure %}

    <!-- Static image for the background taken from https://unsplash.com/photos/08bOYnH_r_E-->
    <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="bg-image" alt="background-image">

    {% block content %}

        <!--Recipe Info Image-->
        <div class="row view-recipe-card card-panel">
            <h3 class="view-center-header">{{ all_recipe_info.recipe_name }} Recipe</h3>

            <div class="view-recipe-img col m7 offset-m5 s12 center-align">
                {% if all_recipe_info.url_link %}
                    <img class="view_recipe_image" src="{{ all_recipe_info.url_link }}" alt="recipe-image">
                {% else %}
                    <!--image recived from https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png-->
                    <img class="view_recipe_image" src="{{ url_for('static', filename='img/no-image.png') }}" alt="no-image-available">
                {% endif %}
            </div>

            <!--Recipe Info Column-->
            <div class="recipe-table col m5 offset-m1">
                <table class="view_recipe_info_table">
                    <tr class="new_row">
                        <td class="table_header">Meal Type</td>
                        <td>{{ all_recipe_info.meal_name }}</td>
                    </tr>
                    <tr class="new_row">
                        <td class="table_header">Prep Time</td>
                        <!-- Placeholder for prep time -->
                        <!-- if statment to check if there is content in there other wise till put a dash in its space -->
                        <td> {% if not all_recipe_info.prep_time %}
                        -
                        {% else %}
                        {{ all_recipe_info.prep_time }} min
                        {% endif %}</td>
                    </tr>
                    <tr class="new_row">
                        <td class="table_header">Cooking Time</td>
                        <!-- Placeholder for cooking time -->
                        <!-- if statment to check if there is content in there other wise till put a dash in its space -->
                        <td>{% if not all_recipe_info.cooking_time %}
                        -
                        {% else %}
                        {{ all_recipe_info.cooking_time }} min
                        {% endif %}</td>
                    </tr>
                    <tr class="new_row">
                        <td class="table_header">Servings</td>
                        <!-- Placeholder for number of servings -->
                        <!-- if statment to check if there is content in there other wise till put a dash in its space -->
                        <td>{% if not all_recipe_info.num_servings %}
                        -
                        {% else %}
                        {{ all_recipe_info.num_servings }} min
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <td class="table_header">Created By</td>
                        <!-- Placeholder to show if it has been shared or not -->
                        <td>{% if all_recipe_info.to_share == "on" %}
                        Shared
                        {% else %}
                        Not Shared
                        {% endif %}</td>
                    </tr>
                    <tr>
                        <td class="table_header">Created By</td>
                        <!-- Placeholder to display the username of the created recipe -->
                        <td>@{{ all_recipe_info.created_by }}</td>
                    </tr>
                </table>
            </div>

            <!--Recipe Ingredients-->
            <div class="row">
                
                <ul class="collapsible view col l10 offset-l1 m10 offset-m1 s12">
                    <li>
                        <div class="collapsible-header text-shadow grey lighten-3 black-text">
                            <h5><i class="fas fa-clipboard-list prefix"></i>Ingredients</h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="ingre-list col s12">
                                    <ol>
                                        <!-- An ordered list to display the list of ingredients-->
                                        {% for ingredient in all_recipe_info.recipe_ingredients %}
                                        <li class="list-ingredients">
                                            {{ ingredient }}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Recipe Cooking Steps-->
            <div class="row">
                <ul class="collapsible view col l10 offset-l1 m10 offset-m1 s12">
                    <li>
                        <div class="collapsible-header text-shadow grey lighten-3 black-text">
                            <h5><i class="fas fa-list-ol prefix"></i>Cooking Instructions</h5>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <ol>
                                        <!-- An ordered list to display the steps for the recipe. -->
                                        {% for steps in all_recipe_info.recipe_steps %}
                                        <li class="cooking-recipe">
                                            {{ steps }}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    {% endblock %}
{% endblock %}